/*!             Comments Page Style css        */
* {
    margin: 0;
    padding: 0;
}

Body {
    background: rgba(5, 5, 5, 0.116) url(../img/woodPlank-4.webp) no-repeat
        center;
    background-size: cover;
    background-attachment: fixed;
}

/*!  (M)       -------- Mobile  Version  ------------           */
@media only screen and (min-width: 308px) and (max-width: 425px) {
    /**              Nav-Bar                */
    #nav-container {
        border: 0.2rem outset white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(0, 0, 0, 0.479);
        height: 150px;
    }

    .navBar-title {
        color: white;
        padding-bottom: 20px;
        font-size: 32px;
        cursor: pointer;
    }

    .li-container {
        text-align: center;
        margin-top: 15px;
    }

    li {
        display: inline-block;
        border: 0.1rem inset black;
        text-align: center;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 3px;
        margin: 5px;
    }

    li:hover {
        border: 1px solid white;
    }

    .nav-btns {
        color: white;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
    }

    .nav-btns:hover {
        color: green;
    }

    .nav-btns:active {
        color: red;
    }

    /**              Comments Form                   */
    #form-container {
        border: 0.2rem outset white;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.521);
        margin-top: 50px; /*! adjust accordingly  */
        text-align: center;
        padding: 15px;
    }

    .form {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        box-shadow: 0px 0px 10px 1px white;
        padding: 10px;
    }

    /**      Form Name Titles            */
    .form-title {
        color: white;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    .comments-title {
        color: rgb(160, 160, 160);
    }

    /**        Form Inputs          */
    #name {
        border: 0.2rem inset white;
        border-radius: 0.3rem;
        background-color: antiquewhite;
        padding: 3px;
        margin-bottom: 10px;
    }

    #comment {
        border: 0.2rem inset white;

        border-radius: 0.3rem;
        background-color: antiquewhite;
        margin: 0 auto;
        padding: 3px;
    }

    /**        Form Buttons         */
    .submit-btn {
        border: 3px inset white;
        border-radius: 10px;
        background-color: lightgreen;
        font-weight: bold;
        padding: 3px;
        margin-top: 20px;
        margin-right: 40px;
        cursor: pointer;
    }

    .submit-btn:hover {
        border: 3px inset limegreen;
        border-radius: 10px;
        background-color: white;
        color: darkgreen;
        font-weight: bold;
    }

    .reset-btn {
        border: 3px inset white;
        border-radius: 10px;
        background-color: lightcoral;
        font-weight: bold;
        padding: 3px;
        margin-top: 20px;
        cursor: pointer;
    }

    .reset-btn:hover {
        border: 3px inset red;
        border-radius: 10px;
        background-color: white;
        color: red;
        font-weight: bold;
    }

    /**                      Comments Box                    */
    #commentsContainer {
        border: 0.2rem outset white;
        /* border-top: none; */
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.521);
        color: white;
        margin-top: 2rem;
        padding: 15px;
    }

    #commentsContainer p {
        border: 0.1rem solid black;
        border-radius: 0.2rem;
        background-color: rgba(248, 246, 246, 0.37);
        color: black;
        margin: 0 auto;
        margin-top: 3rem;
        width: 10rem;
        text-align: center;
    }

    .singleMessage {
        border: 0.2rem inset grey;
        border-radius: 0.2rem;
        background-color: #0005;
        box-shadow: 2px 0px 5px 1px white;
        padding: 0.2rem;
        margin: 1rem;
    }
}
