/*!                   Contact Page Style CSS                  */
* {
    margin: 0;
    padding: 0;
}

Body {
    background: rgba(5, 5, 5, 0.116) url(../img/woodPlank-3.jpg) no-repeat
        center;
    background-size: cover;
    background-attachment: fixed;
}

/*!  (M)     ---------- Mobile Version  ----------                   */
@media only screen and (min-width: 308px) and (max-width: 425px) {
    /** (M)           Nav-Bar               */
    #nav-container {
        border: 0.2rem outset white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(0, 0, 0, 0.521);
        height: 150px;
    }

    .navBar-title {
        color: white;
        padding-bottom: 20px;
        font-size: 32px;
        cursor: pointer;
    }

    .li-container {
        text-align: center;
        margin-top: 15px;
    }

    li {
        display: inline-block;
        border: 0.1rem inset black;
        text-align: center;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 3px;
        margin: 5px;
    }

    li:hover {
        border: 1px solid white;
    }

    .nav-btns {
        color: white;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
    }

    .nav-btns:hover {
        color: green;
    }

    .nav-btns:active {
        color: red;
    }

    /** (M)              Main Content                  */
    #main-title {
        font-family: sans-serif;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 0.1rem 0.1rem 0.5rem rgba(2, 2, 2, 0.661);
        text-align: center;
        margin-top: 15px;
        padding: 15px;
    }

    .email-link {
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        font-size: 14px;
        padding: 5px;
        color: blue;
        text-decoration: none;
    }

    .email-link:hover {
        border: 1px solid blue;
        color: green;
    }

    .email-link:active {
        color: red;
    }

    /** (M)              Contact -- Form                */
    #form-container {
        border: 0.2rem outset white;
        background-color: rgba(0, 0, 0, 0.521);
        border-radius: 10px;
        padding: 15px;
        text-align: center;
        margin-top: 50px; /*! change accordingly */
    }

    .form {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        box-shadow: 0px 0px 10px 1px white;
        padding: 10px;
    }

    /** (M)       Name titles in form     */
    .form-title {
        color: white;
        font-size: 22px;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    .details-title {
        color: rgb(160, 160, 160);
        font-weight: bold;
    }

    .category-title {
        color: rgb(160, 160, 160);
        font-weight: bold;
    }

    .estimate-title {
        color: rgb(160, 160, 160);
        font-weight: bold;
    }

    .yes-label {
        color: rgb(160, 160, 160);
        font-weight: bold;
    }

    .no-label {
        color: rgb(160, 160, 160);
        font-weight: bold;
    }

    /** (M)    Input Boxes       */

    #form-container input {
        border: 0.2rem inset white;
        border-radius: 5px;
        background-color: antiquewhite;
        padding: 3px;
        margin-bottom: 10px;
    }

    #details {
        border: 2px inset white;
        border-radius: 10px;
        background-color: antiquewhite;
        padding: 3px;
        margin-bottom: 10px;
    }

    #category {
        border: 3px double black;
        border-radius: 10px;
        background-color: antiquewhite;
        padding: 3px;
        margin-bottom: 10px;
    }

    /** (M)      Form Buttons      */
    .submit-btn {
        border: 3px inset white;
        border-radius: 10px;
        background-color: lightgreen;
        font-weight: bold;
        padding: 3px;
        margin-top: 20px;
        margin-right: 40px;
        cursor: pointer;
    }

    .submit-btn:hover {
        border: 3px inset limegreen;
        border-radius: 10px;
        background-color: white;
        color: darkgreen;
        font-weight: bold;
    }

    .reset-btn {
        border: 3px inset white;
        border-radius: 10px;
        background-color: lightcoral;
        font-weight: bold;
        padding: 3px;
        margin-top: 20px;
        cursor: pointer;
    }

    .reset-btn:hover {
        border: 3px inset red;
        border-radius: 10px;
        background-color: white;
        color: red;
        font-weight: bold;
    }

    /** (M)         Footer Container               */
    #footer-container {
        border: 0.2rem outset white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(0, 0, 0, 0.521);
        margin-top: 50px; /*! change accordingly */
        height: 200px;
    }

    .footer-title {
        color: white;
        text-decoration: underline;
        text-align: center;
        font-size: 22px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    #links-area {
        color: white;
        background-color: rgba(0, 0, 0, 0.596);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 0px 10px 1px white;
        padding: 5px;
        height: 153px;
        text-align: center;
    }

    .emailMe-link {
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }

    .emailMe-link:hover {
        color: limegreen;
        background-color: black;
        padding: 4px;
        border: 1px solid limegreen;
        border-radius: 10px;
        text-decoration: underline;
    }

    .info {
        color: rgb(160, 160, 160);
        margin-top: 10px;
    }
}
