/*!             Home Page Style Css           */
* {
    margin: 0;
    padding: 0;
}

Body {
    background: rgba(5, 5, 5, 0.116) url(../img/woodPlank-1.jpg) no-repeat
        center;
    background-size: cover;
    background-attachment: fixed;
}

/*!  Take out afterwards!!!!!    */
.WelcomePageLink {
    color: red;
    font-size: 32px;
    font-weight: bold;
    text-decoration: line-through;
}

/*!   (M)                          Mobile Version                    */
@media only screen and (min-width: 308px) and (max-width: 450px) {
    /** (M)             Nav-Bar                */
    #nav-container {
        border: 0.2rem outset white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(0, 0, 0, 0.521);
        height: 150px;
    }

    .navBar-title {
        color: white;
        text-align: center;
        margin-top: 1rem;
        font-size: 32px;
        cursor: pointer;
    }

    .ul-container {
        text-align: center;
        margin-top: 15px;
    }

    li {
        display: inline-block;
        text-align: center;
        border: 1px inset black; /*? Button outline */
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 3px;
        margin: 5px;
    }

    li:hover {
        border: 0.1rem solid white;
    }

    .nav-btns {
        color: white;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
    }

    .nav-btns:hover {
        color: green;
    }

    .nav-btns:active {
        color: red;
    }

    /** (M)                  Main Content            */
    .main-title {
        font-family: sans-serif;
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0.1rem 0.1rem 0.5rem rgba(2, 2, 2, 0.835);
        color: black;
        margin-top: 15px;
        padding: 15px;
    }

    /** (M)     Picture Flip Container   */
    .flip-card {
        border: 0.2rem inset white;
        text-shadow: 0.1rem 0.1rem 1rem rgb(238, 235, 235);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.521);
        box-shadow: 0px 0px 10px 0px rgb(8, 8, 8);
        width: 200px;
        height: 200px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0px 0px 10px 0px rgb(245, 241, 241);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: rgb(7, 243, 243);
        color: black;
    }

    .flip-card-back {
        background-color: rgba(0, 0, 0, 0.596);
        color: white;
        transform: rotateY(180deg);
    }

    /** (M)              Footer               */
    /*?  Don't forget to take welcome Page link out and extend footer box to bottom of page !!!  */
    #footer-container {
        display: grid;
        grid-template-areas:
            "quick quick"
            "Pages type"
            "Pages type"
            "Pages type"
            "Pages type"
            "Pages type"
            "Pages type";
        border: 0.2rem outset white;
        border-radius: 10px 10px 0 0;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0.521);
        margin-top: 50px; /*! Fix after main content is added */
        text-align: center;
    }

    #footer-container > div {
        background-color: rgba(0, 0, 0, 0.596);
        padding: 10px;
    }

    /** (M)  Box-1 in quick links box     */
    #FooterTitle {
        grid-area: quick;
        color: white;
        padding-bottom: 10px;
        text-decoration: underline;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
    }

    #footerPages-container {
        grid-area: Pages;
        border-radius: 10px 0 0 0;
        background-color: #0005;
    }

    .box1-items {
        display: block;
        text-decoration: none;
        margin: 10px;
        padding: 5px;
        color: white;
        font-weight: bold;
    }

    .box1-items:hover {
        border: 1px solid white;
        border-radius: 10px;
        color: green;
    }

    .box1-items:active {
        color: red;
    }

    /** (M)     Box-2 in quick links box       */
    #footerBox2-container {
        grid-area: type;
        border-radius: 0 10px 0 0;
        background-color: #0005;
    }

    .box2-items {
        display: block;
        text-decoration: none;
        margin: 10px;
        padding: 5px;
        color: white;
        font-weight: bold;
    }

    .box2-items:hover {
        border: 1px solid white;
        border-radius: 10px;
        color: green;
    }

    .box2-items:active {
        color: red;
    }

    .item1 {
        color: red;
    }

    .item2 {
        color: blue;
    }
}

/*!                      Laptop  Design                              */
@media only screen and (min-width: 451px) and (max-width: 1750px) {
    /** (L)             Nav-Bar                */
    #nav-container {
        border: 0.2rem outset white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(0, 0, 0, 0.521);
        height: 160px;
    }

    .navBar-title {
        border: 0.2rem inset white;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.366);
        height: 4rem;
        width: 25rem;
        padding: 0.2rem;
        text-align: center;
        font-size: 52px;
        margin-top: 2rem;
        margin-left: 0.5rem;
        color: white;

        cursor: pointer;
    }

    .ul-container {
        /* border: 0.1rem solid green; */
        float: right;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-right: 10rem;
    }

    li {
        display: inline;
        text-align: center;
        border: 0.2rem inset black; /*? Button outline */
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 0.5rem;
        margin: 5px;
    }

    li:hover {
        /* border: 0.1rem solid white; */
        border: 0.2rem inset black;
    }

    .nav-btns {
        color: white;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
    }

    .nav-btns:hover {
        color: green;
    }

    .nav-btns:active {
        color: red;
    }

    /** (L)                  Main Content            */
    .main-title {
        font-family: sans-serif;
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0.1rem 0.1rem 0.5rem rgba(2, 2, 2, 0.835);
        color: black;
        margin-top: 15px;
        padding: 15px;
    }

    /** (L)                  Main Content            */
    #cards-Cont {
        display: grid;
        grid-template-areas:
            "title title title title"
            "title title title title"
            "content1 content1 content1 content1"
            "content1 content1 content1 content1"
            "pic1 pic2 pic3 pic4"
            "content2 content2 content2 content2"
            "content2 content2 content2 content2";
        border: 2px solid blue;
    }

    /* #cards-Cont > div {
        display: inline;
        border: 2px solid red;
        gap: 5rem;
    } */

    .main-title {
        grid-area: title;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0.1rem 0.1rem 0.5rem rgba(2, 2, 2, 0.835);
        color: black;
        margin-top: 15px;
        padding: 15px;
    }

    /** (L)       Content Box #1        */
    #contentCont1 {
        grid-area: content1;
        border: 0.2rem solid green;
        background-color: beige;
        height: 30rem;
        width: 100%;
        margin-top: 5rem;
    }

    /** (L)       Content Box #2       */
    #contentCont2 {
        grid-area: content2;
        border: 0.2rem solid green;
        background-color: beige;
        height: 30rem;
        width: 100%;
        margin-top: 15rem;
    }

    /** (L)     Picture Flip Container   */
    /*?     Card #1       */
    .flip-card1 {
        display: inline-block;
        border: 0.2rem inset white;
        text-shadow: 0.1rem 0.1rem 1rem rgb(238, 235, 235);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.521);
        box-shadow: 0px 0px 10px 0px rgb(8, 8, 8);
        width: 200px;
        height: 200px;
        perspective: 1000px;
        grid-area: pic1;
    }

    .flip-card-inner1 {
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0px 0px 10px 0px rgb(245, 241, 241);
        /* grid-area: pic1; */
    }

    .flip-card1:hover .flip-card-inner1 {
        transform: rotateY(180deg);
    }

    .flip-card-front1,
    .flip-card-back1 {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        /* grid-area: pic1; */
    }

    .flip-card-front1 {
        background-color: rgb(7, 243, 243);
        color: black;
        /* grid-area: pic1; */
    }

    .flip-card-back1 {
        background-color: rgba(0, 0, 0, 0.596);
        color: white;
        transform: rotateY(180deg);
        /* grid-area: pic1; */
    }

    /*?   Card #2   */
    .flip-card2 {
        display: inline-block;
        border: 0.2rem inset white;
        text-shadow: 0.1rem 0.1rem 1rem rgb(238, 235, 235);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.521);
        box-shadow: 0px 0px 10px 0px rgb(8, 8, 8);
        width: 200px;
        height: 200px;
        perspective: 1000px;
        grid-area: pic2;
    }

    .flip-card-inner2 {
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0px 0px 10px 0px rgb(245, 241, 241);
        /* grid-area: pic1; */
    }

    .flip-card2:hover .flip-card-inner2 {
        transform: rotateY(180deg);
    }

    .flip-card-front2,
    .flip-card-back2 {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        /* grid-area: pic1; */
    }

    .flip-card-front2 {
        background-color: rgb(7, 243, 243);
        color: black;
        /* grid-area: pic1; */
    }

    .flip-card-back2 {
        background-color: rgba(0, 0, 0, 0.596);
        color: white;
        transform: rotateY(180deg);
        /* grid-area: pic1; */
    }

    /*?     Card #3      */
    .flip-card3 {
        display: inline-block;
        border: 0.2rem inset white;
        text-shadow: 0.1rem 0.1rem 1rem rgb(238, 235, 235);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.521);
        box-shadow: 0px 0px 10px 0px rgb(8, 8, 8);
        width: 200px;
        height: 200px;
        perspective: 1000px;
        grid-area: pic;
    }

    .flip-card-inner3 {
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0px 0px 10px 0px rgb(245, 241, 241);
        /* grid-area: pic1; */
    }

    .flip-card3:hover .flip-card-inner3 {
        transform: rotateY(180deg);
    }

    .flip-card-front3,
    .flip-card-back3 {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        /* grid-area: pic1; */
    }

    .flip-card-front3 {
        background-color: rgb(7, 243, 243);
        color: black;
        /* grid-area: pic1; */
    }

    .flip-card-back3 {
        background-color: rgba(0, 0, 0, 0.596);
        color: white;
        transform: rotateY(180deg);
        /* grid-area: pic1; */
    }
}
