/*!      Picture's Page Style Css    */
* {
    margin: 0;
    padding: 0;
}

Body {
    background: rgba(5, 5, 5, 0.116) url(../img/woodPlank-1.jpg) no-repeat
        center;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (min-width: 308px) and (max-width: 425px) {
    /*!              Nav-Bar                */
    #nav-container {
        border: 1px solid white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(0, 0, 0, 0.479);
        height: 150px;
    }

    .navBar-title {
        color: white;
        padding-bottom: 20px;
        font-size: 32px;
    }

    .li-container {
        text-align: center;
        margin-top: 20px;
    }

    li {
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 3px;
        margin: 5px;
    }

    li:hover {
        border: 1px solid red;
    }

    .nav-btns {
        color: white;
        padding: 10px;
        font-weight: bold;
        text-decoration: none;
    }

    .nav-btns:hover {
        color: red;
    }

    .nav-btns:active {
        color: limegreen;
    }

    /*!                  Main Content            */

    .main-title {
        font-family: sans-serif;
        font-size: 22px;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0.1rem 0.1rem 0.5rem rgba(2, 2, 2, 0.835);
        color: black;
        margin-top: 1rem;
        /* margin-bottom: 1rem; */
        padding: 15px;
    }

    .picSectName {
        text-align: center;
        margin-top: 2rem;
        text-decoration: underline;
        text-shadow: 0.3rem 0.2rem 0.3rem rgb(2, 2, 2);
        color: aliceblue;
    }

    /**  Picture Flip Container   */
    .flip-card {
        border: 1px solid white;
        text-shadow: 0.1rem 0.1rem 1rem rgb(238, 235, 235);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.521);
        width: 200px;
        height: 200px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: rgb(7, 243, 243);
        color: black;
    }

    .flip-card-back {
        background-color: rgba(0, 0, 0, 0.596);
        color: white;
        transform: rotateY(180deg);
    }

    /*!               Picture Slide Container                   */
    /* #Picture-container {
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.521);
        padding: 15px;
        margin-top: 50px;
        text-align: center;
        height: 200px;
    } */

    /* .slide {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        height: 190px;
    } */

    /*!                    Video Container                      */
    /* #video-container {
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.521);
        padding: 15px;
        margin-top: 50px;
        text-align: center;
        height: 200px;
    }

    .video {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        height: 190px;
    } */
}
