/*!     Questions / Answers Page Style Css           */
* {
    margin: 0;
    padding: 0;
}

Body {
    background: rgba(5, 5, 5, 0.116) url(../img/trimPic-1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/*!  Take out afterwards!!!!!    */
.WelcomePageLink {
    color: red;
    font-size: 32px;
    font-weight: bold;
    text-decoration: line-through;
}

/*!   (M)     ----------- Mobile Version --------------     */
@media only screen and (min-width: 308px) and (max-width: 425px) {
    /**              Nav-Bar                */
    #nav-container {
        border: 0.2rem outset white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(0, 0, 0, 0.521);
        height: 150px;
    }

    .navBar-title {
        color: white;
        padding-bottom: 20px;
        font-size: 32px;
    }

    .ul-container {
        text-align: center;
        margin-top: 15px;
    }

    .li-container {
        display: inline-block;
        border: 0.1rem inset black;
        text-align: center;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        padding: 3px;
        margin: 5px;
    }

    .li-container:hover {
        border: 0.1rem solid white;
    }

    .nav-btns {
        color: white;
        padding: 10px;
        text-decoration: none;
    }

    .nav-btns:hover {
        color: green;
    }

    .nav-btns:active {
        color: red;
    }

    /**                Main Content               */
    #questions-container {
        border: 0.2rem outset white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.521);
        margin-top: 50px;
        padding: 15px;
    }

    #questions {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
        box-shadow: 0px 0px 10px 0px rgb(245, 241, 241);
        padding-left: 25px;
    }

    /**     Ordered List        */
    .name-title {
        /* text-align: center; */
        color: white;
        text-decoration: underline;
        margin-bottom: 20px;
        font-size: 22px;
    }

    #orderedList-container {
        padding: 5px;
    }

    .question {
        margin-top: 1rem;
        color: white;
        font-size: 16px;
    }

    .answer {
        color: rgb(160, 160, 160);
        font-size: 14px;
        margin-bottom: 5px;
    }
}
