/*!    Welcome Page Style CSS     */

body {
    background-color: darkgray;
    background: lightblue url("../img/woodPlank-5.jpg") no-repeat fixed center;
    background-size: cover;
}

/*!  (M)         Mobile                       */
@media only screen and (min-width: 308px) and (max-width: 425px) {
    .welcomeTitle {
        text-align: center;
        font-size: 42px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 5px;
        border: 0.2rem outset white;
        border-radius: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
    }

    #enterBtn-container {
        text-align: center;
    }

    .enterBtn {
        background-color: rgba(0, 0, 0, 0.4);
        color: black;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 10px;
        padding: 1rem;
    }

    .enterBtn:hover {
        border: 2px solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
    }

    .enterBtn:active {
        color: green;
    }

    /**    Counter       */
    .visitCounter p {
        font-size: 12px;
        border-radius: .2rem;
        color: black;
        background-color: rgba(249, 247, 247, 0.333);
        width: 11rem;
        margin: 0 auto;
        margin-top: 2rem;
        padding: .1rem;
    }
}

/*!  (L)          Laptop Screen                 */
@media only screen and (min-width: 426px) and (max-width: 1440px) {
    #welcomeTitle-container {
        text-align: center;
        width: 600px;
        margin: 0 auto;
    }

    .welcomeTitle {
        font-size: 52px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 5px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
    }

    #enterBtn-container {
        text-align: center;
    }

    .enterBtn {
        background-color: rgba(0, 0, 0, 0.4);
        color: black;
        font-size: 32px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 10px;
        padding: 5px;
    }

    .enterBtn:hover {
        border: 2px solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
    }

    .enterBtn:active {
        color: green;
    }
}
