/*!    Welcome Page Style CSS     */

body {
    background-color: darkgray;
    background: lightblue url("../img/woodPlank-5.jpg") no-repeat fixed center;
    background-size: cover;
}

/*!  (M)         Mobile                       */
@media only screen and (min-width: 306px) and (max-width: 450px) {
    .welcomeTitle {
        text-align: center;
        font-size: 42px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 5px;
        border: 0.2rem outset white;
        border-radius: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
        cursor: pointer;
    }

    #enterBtn-container {
        text-align: center;
    }

    .enterBtn {
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(1, 219, 1);
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 10px;
        padding: 1rem;
    }

    .enterBtn:hover {
        border: 2px solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
    }

    .enterBtn:active {
        color: green;
    }

    /** (M)       Counter       */
    .visitCounter p {
        font-size: 12px;
        text-align: center;
        text-decoration: underline;
        border-radius: 0.2rem;
        color: rgb(251, 1, 1);
        background-color: rgba(249, 247, 247, 0.333);
        width: 4rem;
        margin: 0 auto;
        margin-top: 13rem;
        padding: 0.1rem;
        cursor: pointer;
    }
}

/*!  (L)          Laptop Screen                 */
@media only screen and (min-width: 450px) and (max-width: 1750px) {
    #welcomeTitle-container {
        text-align: center;
        width: 600px;
        margin: 0 auto;
    }

    .welcomeTitle {
        font-size: 52px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 5px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
    }

    /** Enter Button  */
    #enterBtn-container {
        text-align: center;
    }

    .enterBtn {
        background-color: rgba(0, 0, 0, 0.393);
        color: limegreen;
        font-size: 32px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 10px;
        padding: 5px;
    }

    .enterBtn:hover {
        border: 2px solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.719);
    }

    .enterBtn:active {
        color: green;
    }

    /** (M)       Counter       */
    .visitCounter p {
        font-size: 18px;
        text-align: center;
        text-decoration: underline;
        border-radius: 0.2rem;
        color: rgb(251, 1, 1);
        background-color: rgba(249, 247, 247, 0.333);
        width: 8rem;
        margin: 0 auto;
        margin-top: 25rem;
        padding: 0.1rem;
        cursor: pointer;
    }
}
